-
    var myFullName = 'Vladislav Ciobanu'
    var myJobTitle = 'junior web developer'
    var socialList = [
        {icon: 'facebook2', url: 'https://www.facebook.com/cioban.vladislav'},
        {icon: 'twitter', url: 'https://twitter.com/CiobanuVladisl1'},
        {icon: 'youtube2', url: 'https://www.youtube.com/user/CEnuSHarIK'},
        {icon: 'skype', url: 'https://secure.skype.com/portal/overview'},
        {icon: 'yahoo', url: 'https://fr.yahoo.com'},
        {icon: 'html-five', url: 'https://cnvvcvlad.github.io/w3schools-replica1'},
        {icon: 'file-word', url: 'https://cnvvcvlad.github.io/w3schools-replica1'},
        {icon: 'stackoverflow', url: 'https://stackoverflow.com/users/10986541/cenusharik'},
        {icon: 'linkedin', url: 'https://www.linkedin.com/in/ciobanu-vladislav-88025231/'},
        {icon: 'wordpress', url: 'https://wordpress.com/stats/day/cenusharik.wordpress.com'},
        {icon: 'whatsapp', url: 'https://web.whatsapp.com/'},
        {icon: 'mail4', url: 'https://myaccount.google.com/'},
        {icon: 'mobile', url: ''},
        {icon: 'calendar', url: ''},
        {icon: 'map2', url: ''},
        {icon: 'location2', url: ''},
    ]
#landing-page        
.landing-page
    .landing-page__wrapper
        h1.landing-page__name=myFullName
        h2.landing-page__title=myJobTitle 
        url.landing-page__social 
            each social, key in socialList
                li.landing-page__item
                    label.landing-page__label(for=`message-box-id-${key}`)
                        span(class=`my-cv__icon--${social.icon}`) 
        .landing-page__box-body
            input.landing-page__box-radio(type="radio", name="awesome-radio", checked, id="default-message-radio")
            .landing-page__box-message Click the above icons to reveal
            .landing-page__box-header
                .landing-page__box-info Click to visit
                label.landing-page__box-close(for="default-message-radio") &times;
            each social, key in socialList
                input.landing-page__box-radio(type="radio", name="awesome-radio", id=`message-box-id-${key}`)
                .landing-page__box-message
                    a.landing-page__box-link(href=social.url, target="_blank")=social.url 

